<div class="container">
  <h1>Reset password</h1>
  <div class="alert alert-info" [hidden]="!done">Confirm your email</div>
  <form class="form-group" [hidden]="done">
    <label>Write your email:</label>{{ans}}
    <input [(ngModel)]="email" class="form-control" type="email" [ngModelOptions]="{standalone: true}" >
    <button class="btn btn-success" (click)="submit()">Reset password</button>
    <button class="btn btn-primary" routerLink="">Home</button>
  </form>
  <form class="form-group" [hidden]="!done">
    <label>Write your code:</label>
    <input [(ngModel)]="code" class="form-control" type="text" [ngModelOptions]="{standalone: true}" >
    <button class="btn btn-success" (click)="res()">Reset password</button>
  </form>

</div>
