<div class="container">
<h1>Registration works!</h1>
<form class="form-group">
  <h3 *ngIf="done" class="alert alert-success">{{ans}}</h3>
  <label>Username:</label>
  <input [(ngModel)]="username" class="form-control" type="text" [ngModelOptions]="{standalone: true}">
  <label>Password:</label>
  <input [(ngModel)]="password" class="form-control" type="password" [ngModelOptions]="{standalone: true}">
  <label>Repeat password:</label>
  <input [(ngModel)]="password2" class="form-control" type="password" [ngModelOptions]="{standalone: true}">
  <button class="btn btn-success" (click)="submit()">Register</button>
  <button class="btn btn-primary" routerLink="">Home</button>
</form>
</div>
