input {
  max-width: 50%;
  margin-left: 25%;
}
*{
  text-align: center;
}
.container{
  margin-top: 10%;
  background-color: bisque;
  max-width: 50%;
  padding: 5%;
  border: 1px solid burlywood;
  border-radius: 10px;
}
button{
  margin: 3%;
}
