<h2>Author: {{getAuthorsName()}}</h2>
<div *ngIf="done">{{ans}}</div>
<form class="form-group" action="create">
  <input class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" placeholder="{{getAuthorsName()}}"  required><br>
  <input class="form-control" [(ngModel)]="birthdate" [ngModelOptions]="{standalone: true}" type="date" required><br>
  <button class="btn btn-success" (click)="submit()">Submit</button>
</form>
<br>
<a class="btn btn-primary" routerLink="">Home</a>
